@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Kanit:wght@100&family=Montserrat:ital,wght@0,200;0,700;1,200&family=Roboto:wght@100;300;400;700;900&display=swap");



* {
  box-sizing: border-box;
}
body {
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1135px;
  margin: 0 auto;
  height: 100%;
}

header {
  height: 110px;
  padding: 5px;
  background-color: #ee181e;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  align-content: space-between;
}

header img {
  height: 100px;
  object-fit: cover;
}

footer {
  margin-top: 30px;
  height: 120px;
  padding: 5px;
  background-color: #ee181e;
  display: flex;
  align-items: center;
}

footer > span {
  margin-top: 30px;
  font-size: 20px;
  color: white;
  width: 100%;
}


.gif {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.header-search {
  height: 50px;
  width: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  margin: 20px 0;
}

.header-search > input {
  width: 30%;
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: #ee181e 1px solid;
  color: white;
  
}

.pagination {
  display: flex;
}
.pagination > button {
  border: none;
  background: none;
  width: 100%;
  flex-direction: row;
  gap: 80%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ee181e;
}

.pagination > button:disabled {
  color: grey;
  opacity: 0.4;

}

.tab-comics {
  display: flex;
  width: 23%;
  align-items: center;

}

.display-comics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
 
}

.box {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.box img {
  object-fit: contain;
  width: 100%;
  transition: 1s ease;
}

.hidden {
  top:100%;
  position: relative;
  height: 50%;
  background: white;
  color: black;
  text-align: center;
  border-radius: 0  0  10px 10px ;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 3px;
}
.box:hover > .hidden {
top : 0
}

.box:hover > img {
height: 70%;
object-fit: cover;
}

.hidden h2 {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
}

.hidden span {
  font-size: 10px;
}
.characters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
padding-top: 40px;
  font-size: 30px;
  height: 100px;
  text-shadow: black;
  letter-spacing: 5px;
  
}

.characters .card {
  position: relative;
  width: 250px;
  height: 300px;
  padding: 5px;
  overflow: hidden;
  border-radius: 2px;

background-color: white;

  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(248, 239, 239, 0.3);
}

.characters .card h2{
  z-index : 99;
position: absolute;
  top:10px;
margin-left: 10px;
 width: 100%;
  font-size: 15px;
  font-weight: 700;
  color:white;
  transition: 0.2s ease;
  letter-spacing: 3px;
  text-shadow: 0 0 15px rgba(248, 239, 239, 0.3);
}

.characters .card p {
  z-index : 99;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 95%;
  transition: 0.2s ease;
  font-size: 10px;
  height: 40px;
  overflow: hidden;
  color: black
  

}

.characters .card img {
  z-index: 100;
  width: 99%;
  height: 99%;
  object-fit: cover;
  border-radius: 2px;
  filter: grayscale(100%);
  transition: 0.3s ease;
  opacity: 1;
  padding-bottom:50px;
}



.characters .card img:hover {
  filter: grayscale(0); 
}

nav {
  display: flex;

  flex-direction: row;
  align-items: center;
}

.menu {
  letter-spacing: 4px;
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border-bottom: 1px solid black;
  transition: 0.8s;
}

.menu:hover,
.butt-connect:hover,
.butt-connect2:hover,
.butt-signout:hover {
  background: black;
  color: white;
  box-shadow: 0 0 5px white, 0 0 50px white, 0 0 200px white;
}

.menu:nth-child(1) {
  filter: hue-rotate(270deg);
}
.menu:nth-child(2) {
  filter: hue-rotate(110deg);
}

.butt-connect {
  border-radius: 30px 0 0 30px;
  border-right: 0.5px solid black;
  color: #ee181e;
  background-color: white;
}

.butt-connect2 {
  border-radius: 0 30px 30px 0;
  background-color: black;
  color: white;
  background-color: #ee181e;
}
.butt-connect,
.butt-connect2 {
  letter-spacing: 4px;
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px solid black;
  transition: 0.8s;
}

.butt-signout {
  letter-spacing: 4px;
  display: inline-block;
  padding: 11px;
  text-decoration: none;
  border: none;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px solid black;
  transition: 0.8s;
  border-radius: 30px;
}

.butt-signout:hover {
  letter-spacing: 15px;
}

.signup {
  width: 300px;
  height: 350px;
  margin-left:35%;
 border: white 0.5px solid;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  border-radius: 10px;
}

.signup > input, .login > input {
  border: none;
  background-color: black;
  border-bottom: #ee181e 2px solid;
  width: 260px;
  background-color: white;
  opacity: 0.4;
  outline: none;
}

.signup h2, .form h2 {
  text-transform: uppercase;
  font-size: 20px;
  
}

.signup span {
  color: white;
  text-decoration: none;
}


.form{
  width: 300px;
  height: 300px;
  margin-left:35%;
 border: white 0.5px solid;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  border-radius: 10px;
}

.login {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.signup button, .login button {
  border: none;
  outline: none;
  background: none;
  color: #ee181e;
  background-color: white;
  opacity: 0.4;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 13px;
  padding: 7px;
  text-transform: uppercase;
  border-radius: 30px;
  border-bottom: 1px solid #ee181e;
}

.signup button:hover, .login button:hover, .bloc2 > button:hover, .charac-page > button:hover {
  opacity: 1;
}

.charac-page img {
  border-radius: 50%;
  box-shadow:10px 0  10px rgba(255, 172, 172, 0.3);
  border-bottom: 1px black solid;
}


.charac-page{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.charac-page > div {
  width: 60%;
  font-size: 13px;
  text-align: justify;
  
}

.charac-comics {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30%;
  gap: 10px;
  overflow: scroll;
  gap: 10px;

}

.comics-box {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;

margin-bottom: 30px;

}



.bloc {
  display: flex;
  height: 500px;
  margin-top: 30px;

}

.bloc > .span {
  writing-mode: vertical-rl;
  width: 7px;
  font-size: 9px;
  text-orientation: upright;
  text-transform: uppercase;
}

 .bloc-comic-page {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.bloc1{
  padding-left: 10%;
}

.bloc1 img {
  border-radius: 5px;
}

.bloc2 {
  width: 50%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bloc2 > button, .charac-page > button {
  margin-top:20px ;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px;
  border-radius: 20px;
  color: #ee181e;
  background-color: white;
  opacity: 0.4;
}